.navBar{
    display: flex;
    /* flex-direction: column; */
    background-color: #0c0c0ccc;
    color: #fff;
    justify-content: space-between;
}

.navBar div{
    /* margin: 5px; */
    padding: 10px;
}

.title{
    display: flex;

}


.title img{
    margin-top: 10px;
    width: 4vw;
    /* height: 4vh; */
}